/* PSEUDOELEMENTY */
#before .pierwszy::before {
/*    content: - element obowiązkowy w  pseudoklasach ::before ::after */
    content: "przed elementem "; 
    color: red;
}

/* wstawienie akapitu po paragrafie */
#after .drugi::after {
    /*    content: - element obowiązkowy w  pseudoklasach ::before ::after */
    content:  " po elemencie";
    color: green;
}

/* stylowanie pierwszej litery */
#first-letter p::first-letter {
    color: red;
    font-size: 30px;   
}

/* stylowanie pierwszej lini */
#first-line p::first-line {
    background-color: yellow;
    
}

/* PSEUDOKLASY */
#link a:link {
    color: orange;
    }

#link a:visited {
    color: pink;
    }

/* zmiana koloru tła dla naciśnięciu lewego przycisku myszy */
#link a:active {
    background-color: yellow;
}

:target {
    color: orange;
}

/* zmiana koloru po najechaniu */
#before:hover {
    color: red;
}

#focus input:focus {
    border: 5px solid green;
}

#lang p:lang(en) {
    background-color: aqua;
}


/* INNE PSEUDO KLASY */
#first-child .lista li:first-child {
    background-color: green;    
}

#first-child .lista li:last-child {
    background-color: pink;    
}

div span:only-child {
    background-color: skyblue;
}

div:empty {
    height: 100px;
    width: 100px;
    background-color: crimson;
}

/* :nth-child / :nth-last-child */
#nth-childs ul li:nth-child(3) {
    background-color: blue;
    
}

/* elementy nieparzyste - nadpisze rónież element 3*/
#nth-childs ul li:nth-child(even) {
    background-color: green;
    
}

/* elementy parzyste */
#nth-childs ul li:nth-child(odd) {
    background-color: pink;
    
}

/* liczy co ile elementów 3n i od któego zaczynamy +2 */
#nth-childs ul li:nth-child(3n+2) {
    font-size: 30px;
}

/* liczy tak samo od końca */
#nth-last-childs ul li:nth-last-child(3n+2) {
    font-size: 30px;
    background-color: pink;
}


/* SELEKTORY ATRYBUTÓW */
input[type="text"] {
    border: 10px solid grey;
}

#attribiutes a[title~="opis"] {
    font-size: 40px;
}

#attribiutes a[title*="link"] {
    font-size: 40px;
    background-color: yellow;
}

#attr a[title^="opis"] {
    font-size: 25px;
    background-color: grey;
}

#attr a[title$="opis"] {
    font-size: 30px;
    background-color: red;
}

/* FLOATING */
#floating > div {
    float: left;
    width: 100px;
    height: 100px;
    background-color: grey;
}


#floating .clear {
    clear: both;
}

#transitions .hovered {
    width: 300px;
    height: 300px;
    background-color: grey;
/*
    transition-property: backgroung-color;
    transition-duration: 2s;
*/
    transition: all 2s ease-in-out;
}

#transitions .hovered:hover {
    background-color: green;
}
